<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="/">
            <!-- Logo -->
            <img src="/image/logo.jpg" alt="Logo RPG" class="img-fluid" style="max-width: 60px; height: auto;">
            RPG Adventure
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fs-5 active" aria-current="page" href="/">Accueil</a>
                </li>
         
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="/register">Inscription</a>
                    </li>
        
            </ul>
        </div>
    </div>
</nav>
