<!-- account.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-secondary text-light">
    <%- include('partials/navbar') %>

    <div class="container mt-4">
        <h1 class="text-center text-warning">Mon Compte</h1>

        <div class="card text-dark mb-4">
            <div class="card-body">
                <h5 class="card-title">Nom d'utilisateur : <%= user.username %></h5>
                <p><strong>Email : </strong><%= user.email %></p>

                <a href="/account/editPassword" class="btn btn-warning">Modifier mon mot de passe</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
